body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 60px;  
    transition: width 0.3s ease;
  }
  
  .navbar#open {
    width: 260px; 
  }
  

.icon-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
}


.Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.Links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translateX(-20px);
}

.navbar#open .Links a {
    opacity: 1;
    transform: translateX(0);
}

.Links a > svg {
    margin-right: 10px;
}
