.container {
  display: flex;
  flex-direction: row;
}

.App {
  flex-grow: 1; /* This ensures the content area takes the rest of the space after the navbar */
  padding-left: 60px;  /* Adjust this based on your navbar's closed width */
  transition: padding-left 0.3s ease;
}

.App.navbar-expanded {
  padding-left: 260px; /* Adjust this based on your navbar's expanded width */
}
